extends auth

block content
	.container
		form(action='/auth/change-password', method='POST').form-horizontal.form-change-password
			h1 Изменение пароля

			.form-group
				label(for='txtOldPassword').col-sm-2.control-label Старый пароль
				.col-sm-7
					input(type='password', id='txtOldPassword', name='oldPassword', placeholder='Старый пароль', required).form-control

			.form-group
				label(for='txtNewPassword').col-sm-2.control-label Новый пароль
				.col-sm-7
					input(type='password', id='txtNewPassword', name='newPassword', placeholder='Новый пароль', required).form-control

			.form-group
				label(for='txtNewPassword2').col-sm-2.control-label Повторите новый пароль
				.col-sm-7
					input(type='password', id='txtNewPassword2', name='newPasswordConfirm', placeholder='Повторите новый пароль', required).form-control

			.form-group.button-group
				button(type='submit').btn.btn-primary Изменить пароль