extends ../layout

block style
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/auth.css')

block script
	script(src='/lib/jquery-validation/jquery.validate.min.js')
	script(src='/lib/jquery-validation/messages_ru.min.js')
	script(src='/lib/jquery.form.min.js')
	script(src='/js/auth.js')

block content
	.container
		h1 Забыли пароль?

		.alert.alert-warning Введите адрес электронной почты, указанный Вами при регистрации

		form(action='/auth/forgot-password', method='POST').form-horizontal.form-forgot-password
			.form-group
				label(for='txtEmail').col-sm-2.control-label Email
				.col-sm-7
					input(type='email', id='txtEmail', name='email', placeholder='Email', required).form-control

			.form-group.button-group
				button(type='submit').btn.btn-primary Восстановить пароль