extends ../layout

block style
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/auth.css')

block script
	script(src='/lib/jquery-validation/jquery.validate.min.js')
	script(src='/lib/jquery-validation/messages_ru.min.js')
	script(src='/lib/jquery.form.min.js')
	script(src='/js/auth.js')

block content
	.container
		h1 Восстановление пароля

		form(action='/auth/reset-password', method='POST').form-horizontal.form-reset-password
			input(type='hidden', name='token')

			.form-group
				label(for='txtNewPassword').col-sm-2.control-label Новый пароль
				.col-sm-7
					input(type='password', id='txtNewPassword', name='newPassword', placeholder='Новый пароль', required).form-control

			.form-group
				label(for='txtNewPassword2').col-sm-2.control-label Повторите новый пароль
				.col-sm-7
					input(type='password', id='txtNewPassword2', name='newPasswordConfirm', placeholder='Повторите новый пароль', required).form-control

			.form-group.button-group
				button(type='submit').btn.btn-primary Изменить пароль