extends ../layout

block content
	.container
		h1 Спасибо за регистрацию!

		p
			| Ваш аккаунт создан, но не подтвержден. Чтобы убедиться, что указанная почта
			| принадлежит Вам, мы отправили на нее письмо, содержащее ссылку активации.
			| Пожалуйста, перейдите по этой ссылке.

		p
			| После этого Ваш аккаунт будет подтвержден, и Вы сможете пользоваться всеми
			| возможностями нашего портала.

		p
			a(href='/') Я активирую аккаунт позже