extends ../layout

block content
	.container
		.jumbotron
			h1 Пожалуйста, подтвердите аккаунт.

			p Ваш аккаунт создан, но не подтвержден. Для этого, мы направили на узканнаую
				| при регистрации почту письмо. Пожалуйста, перейдите по ссылке из этого письма.
				| После этого Ваш аккаунт будет подтвержден, и Вы сможете пользоваться всеми
				| возможностями нашего портала...

			p Спасибо за регистрацию и Удачи!

			p
				a(href='/') Начать работу