body {
	margin: 20px;
}

.company-edit {
	margin-left: 50px;
    font-size: 70%;
}


.form-group .alert {
	margin-top: 10px
}

.alert-file-upload {
	margin-top: 0 !important;
}

.alert a {
	margin: 0 5px;
}

#txtPlayerFrom,
#txtPlayerTo {
	width: auto;
}

.alert-success {
	display: none;
}

.chapter-header {
	text-align: center;
}

.page-header {
	background-color: antiquewhite;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 10px 20px;
	border-radius: 10px;
}

.quest-img {
	width: 200px;
}

.company-block {
	margin: 20px 0;
	border-bottom: 1px solid #ccc;
}


.form-comment label {
	padding-top: 0 !important;
}

.form-comment .alert {
	display: block;
}

.btn-approve,
.btn-remove {
	margin: 0 30px;
}

.remove-quest {
	color: #f00;
	margin-left: 200px;
}

.lang-container {
	font-size: initial;
}

.not-translated {
	color: #f00;
}


.horizontal-list {
	list-style: none;
	margin-top: 7px;
	padding-left: 0;
}

.horizontal-list li {
	display: inline-block;
}

.horizontal-list li:not(:first-child) {
	margin-left: 20px;
}

.horizontal-list .remove-icon {
	padding-left: 5px;
	cursor: pointer;
}

.lang-container {
	list-style: none;
	padding-left: 0;
}

.lang-container li {
	margin-bottom: 10px;
}