doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		link(rel='stylesheet', href='/lib/jQuery-File-Upload/css/jquery.fileupload.css')
		link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/bootstrap-select/dist/css/bootstrap-select.min.css')
		link(rel='stylesheet', href='/lib/font-awesome-4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/admin/admin.css')
	body
		block content

		script(src='/lib/jquery/jquery-2.1.4.min.js')
		script(src='/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js')
		script(src='/lib/bootstrap-select/dist/js/bootstrap-select.min.js')
		script(src='/lib/bootstrap-select/dist/js/i18n/defaults-ru_RU.min.js')
		script(src='/lib/jquery-validation/jquery.validate.min.js')
		script(src='/lib/jquery-validation/messages_ru.min.js')
		script(src='/lib/jade-runtime.js')
		script(src='/lib/mozilla.cookies.js')
		script(src='/lib/jQuery-File-Upload/js/jquery.ui.widget.js')
		script(src='/lib/jQuery-File-Upload/js/jquery.fileupload.js')
		script(src='/lib/jquery.form.min.js')
		script(src='/js/templates.js')
		script(src='/js/admin.js')