footer
	.container
		.row
			.col-sm-6.col-md-7
				h4 Узнавай о скидках и акциях в своём городе: 
				form.form-inline
					.form-group
						input.form-control(type='text', placeholder='введите имя')
						input.form-control(type='email', placeholder='введите e-mail')
						button.btn.btn-success Подписаться
			.col-sm-3.col-md-2.col-xs-6
				h4.text-muted Навигация
				ul.list-unstyled
					li
						a(href='#') Главная
					li
						a(href='#') О проекте
					li
						a(href='#') Добавить свой квест
					li
						a(href='#') Статьи
			.col-sm-3.col-xs-6
				h4.text-muted Нас рекомендуют
				img.img-responsive(src='/images/vk-placeholder.png', alt='')
				img.img-responsive(src='/images/vk-placeholder.png', alt='')
				img.img-responsive(src='/images/vk-placeholder.png', alt='')
		.row
			.col-md-12
				| © Exitor - Все квесты в одном месте.
