header
	.container
		.row
			.col-sm-5.hidden-xs
				.logo-area
					a(href='/')
						img(src='/images/logo.png', alt='logo')
					//- a.lang-toggle(href='#')
					//- 	img.logo(src='/images/flaf-br.png', alt='british flag')
					//- a.lang-toggle(href='#')
					//- 	img(src='/images/flag-rus.png', alt='russian flag')
					div
						span
							b ВСЕ КВЕСТЫ В ОДНОМ МЕСТЕ
			.col-sm-7
				.header-socials.text-right.hidden-xs
					img(src='/images/socials.png', alt='socials')
				//- nav.navbar.navbar-default
				//- 	// Brand and toggle get grouped for better mobile display
				//- 	.navbar-header
				//- 		button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				//- 			span.sr-only Toggle navigation
				//- 			span.icon-bar
				//- 			span.icon-bar
				//- 			span.icon-bar
				//- 		a.navbar-brand.visible-xs(href='#')
				//- 			img(src='/images/logo.png', alt='logo', width='100')
				//- 	// Collect the nav links, forms, and other content for toggling
				//- 	#bs-example-navbar-collapse-1.collapse.navbar-collapse
				//- 		ul.nav.navbar-nav.navbar-right
				//- 			li
				//- 				a(href='#') Главная
				//- 			li.active
				//- 				a(href='#')
				//- 					| О проекте
				//- 					span.sr-only (current)
				//- 			li
				//- 				a(href='#') Добавить свой квест
				//- 			li
				//- 				a(href='#') Статьи
				//- 	// /.navbar-collapse