extends layout

block style
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/app.css')
	link(rel='stylesheet', href='/stylesheets/index.css')

block script
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
	script(src='/lib/jquery.form.min.js')
	script(src='/js/map.js')
	script(src='/js/index.js')

block content
	include ./header.jade

	.container-fluid
		.row
			.col-md-12.no-padding
				.divider
	.container-fluid
		.container
			.row.criterias-row
				.col-md-12
					form(action='/quest/search', method='GET').form-search
						.input-group.input-group-lg
							input.input-search.form-control(type='text', name='query', autofocus, placeholder='Например, приключения сложный белорусская')
							span.input-group-btn
								button.btn-search.btn.btn-primary Найти
					.container.search-preloader
						img(src='/images/preloader.gif', alt='Preloader')
						| Ищем подходящие варианты...
					.container
						ul.display-mode-list.nav.nav-pills.center
							li(role='presentation').list
								a(href='#') Списком
							li(role='presentation').map
								a(href='#') На карте
						.founded-quests-list
						.founded-quests-map(id='quests-map')
				//- .col-md-3
				//- 	div
				//- 		img.img-responsive(src='http://placehold.it/230x250', alt='')
				//- 	div(style='margin-top: 100px;')
				//- 		img.img-responsive(src='http://placehold.it/230x250', alt='')
	.container-fluid
		.row
			.col-md-12.no-padding
				.divider.footer-divider

	include ./footer.jade