doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/lib/bootstrap-select/dist/css/bootstrap-select.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/admin/quest.css')
	body
	block content
	script(src='/lib/jquery/jquery-2.1.4.min.js')
	script(src='/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js')
	script(src='/lib/bootstrap-select/dist/js/bootstrap-select.min.js')
	script(src='/lib/bootstrap-select/dist/js/i18n/defaults-ru_RU.min.js')
	script(src='/lib/jquery-validation/jquery.validate.min.js')
	script(src='/lib/jquery-validation/messages_ru.min.js')
	script(src='/lib/jquery.form.min.js')
	script(src='/js/index.js')
