doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		if ceo
			meta(name="description", content=ceo.description)
			meta(name="keywords", content=ceo.keywords)
			title= ceo.title
		link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css')
		//- link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/lib/bootstrap-select/dist/css/bootstrap-select.min.css')
		link(rel='stylesheet', href='/lib/font-awesome-4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block style
	body
		block content
		script(src='/lib/jquery/jquery-2.1.4.min.js')
		script(src='/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js')
		script(src='/lib/bootstrap-select/dist/js/bootstrap-select.min.js')
		script(src='/lib/bootstrap-select/dist/js/i18n/defaults-ru_RU.min.js')
		script(src='/lib/jade-runtime.js')
		script(src='/lib/mozilla.cookies.js')
		script(src='/js/templates.js')
		script(src='//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js')
		block script
