
.auth-container {
	margin: 50px 10px 10px;
}

.auth-container h3 {
	text-align: center;
}

.auth-container .button-group {
	text-align: center;
}

.list-social {
	text-align: center;
}

.forgot-password {
	margin-top: 40px;
}