
.search-preloader {
	text-align: center;
	display: none;
}

.display-mode-list li {
	display: inline-block;
	margin: 10px 50px;
	cursor: pointer;
	float: none;
}

@media screen and (max-width: 510px) {
	.display-mode-list li {
		margin: 10px 0 !important;
	}
}


.founded-quests-map {
	/*width: 600px;*/
	height: 600px;
}

