#carousel-images .inner-item {
	text-align: center;
}

#carousel-images img {
	width: auto;
	max-height: 340px;
	margin: 0 auto;
}

/*.quest-tags {
	padding-bottom: 18px;
}*/

.similar-event img {
	/*height: auto;
	width: auto;
	max-width: 232px;
	max-height: 250px;*/
}

.list-item-station:before {
	content: "\f238";
}

.address-link {
	margin-left: 10px;
	color: #000;
}

.login-link {
	margin-left: 5px;
}

.form-comment-block {
	display: none;
}

.alert-comment-success {
	display: none;
}

.alert-comment-error {
	margin-top: 10px;
}

.comment-text {
	font-style: italic;
}

.comment-warning {
	text-align: left;
	font-size: 80%;
	color: #db7e4f;
}

.btn-edit-comment,
.btn-cancel-comment {
	margin: 0 20px;
}

.user-comment {
	border: 1px solid #d58512;
	padding: 5px 10px;
	border-radius: 10px;
}

.user-comment-edit,
.user-comment-remove {
	float: right;
	margin: 0 5px;
	cursor: pointer;
}

#reviews {
	margin: 20px 0;
}

.comment:first-child {
	margin-top: 15px;
}
