#carousel-images .inner-item {
	text-align: center;
}

#carousel-images img {
	width: auto;
	max-height: 272px;
	margin: 0 auto;
}

.quest-tag {
	margin-right: 10px;
	display: inline-block;
}

.quest-tags-list {
	display: inline-block;
	margin-left: 10px;
}

.quest-tags {
	padding-bottom: 18px;
}

.company-quests .row {
	margin-bottom: 30px;
}

.similar-event img {
	/*height: auto;
	width: auto;
	max-width: 232px;
	max-height: 250px;*/
}


